
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    --dsct-color-bg-primary: #FFFFFF;
    --dsct-color-bg-secondary: #3C9AF0;
    --dsct-color-bg-tertiary: #D9D9D9;

    --dsct-color-font-primary: #FFFFFF;
    --dsct-color-font-secondary: #5E5E5E;

    --dsct-color-border-primary: #3C9AF0;
}

/*
  quaternary
*/


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

html, body {
    background-color: var(--dsct-color-bg-primary);
}

.dsct-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/*para o link do rodapé
a, a:hover {
    text-decoration: none;
    color: unset;
}
*/
