


header {
    padding: 0px 20px;
}

#dsct-cars-section {
    background-color: var(--dsct-color-bg-primary);
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 20px;
    color: var(--dsct-color-font-secondary);
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    h2 {
        font-size: 32px;
    }
}

.dsct-cards-car-container {
    width: 100%;
    max-width: 746px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

#dsct-messages-section {
    background-color: var(--dsct-color-bg-quaternary);
    padding: 25px 20px;
}

.dsct-cards-message-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}


#dsct-messages-section h2 {
    display: flex;
    justify-content: center;
}

footer {
    padding: 0px 20px;
}