


header {
    height: 70px;
    background-color: var(--dsct-color-bg-secondary);
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 20px;
    color: var(--dsct-color-font-primary);
    display: flex;
    justify-content: center;
}