


.dsct-car-container {
    background-color: var(--dsct-color-bg-tertiary);
    padding: 10px;
    border: 1px solid var(--dsct-color-border-primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsct-car-container img {
    width: 100%;
    max-width: 391px;
}

.dsct-car-container h3 {
    font-size: 16px;
    color: var(--dsct-color-font-secondary);
    margin-top: 9.54px;
}

@media (min-width: 992px) {
    .dsct-car-container h3 {
        font-size: 20px;
        margin-top: 10px;
    }
}