


.dsct-message-cards-container {
    background-color: var(--dsct-color-bg-primary);
    padding: 25px 20px;
    border-radius: 12px;
    border: 1px solid var(--dsct-color-border-primary);
}

.dsct-message-cards-container p {
    font-size: 16px;
    color: var(--dsct-color-font-tertiary);
}